:root{
    --background: hsl(30, 38%, 92%);
    --primary-color: hsl(212, 21%, 14%);
    --secondary-color: hsl(158, 36%, 37%);
    --text-color: hsl(228, 12%, 48%);
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background);
}

main{
    display: grid;
    grid-template-rows: 2.5fr 0.5fr 0.8fr 1.5fr 0.5fr 1fr 0.3fr;
    grid-template-columns: auto;

    max-width: 375px;
    width: 90%;
    height: 600px;

    border-radius: 15px;
    background-color: white;
    overflow: hidden;
}

main picture{
    object-fit: cover;
}

main h3{
    width: 100%;
    padding: 5px 15px 0px 25px;
    margin: auto 0;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    color: var(--text-color);
}

main h1{
    padding: 0px 15px  0px 25px;

    font-family: 'Fraunces', serif;
    font-size: 3.4rem;
    line-height: 1.1;

    color: var(--primary-color);
}

main p{
    padding: 0px 15px 0px 25px;
    margin: auto 0px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;

    color: var(--text-color);
}

main div{
    display: flex;
    justify-content: left;
    gap: 20px;

    width: 100%;
    padding: 0px 25px;
}

main div h2{
    font-family: 'Fraunces', serif;
    font-size: 2.8rem;

    color: var(--secondary-color);
}

main div span{
    padding-top: 10px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    text-decoration: line-through;

    color: var(--text-color);
}

main button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 85%;  
    margin: auto auto;
    height: 45px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;

    border-radius: 8px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
}

main button:hover{
    background-color: hsl(158, 48%, 23%);
}

main button span{
    display: inline-block;
    width: 15px;
    height: 15px;
    
    background-image: url("./images/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (min-width: 720px){
    main{
        display: grid;
        grid-template-rows: 1fr 2fr 2fr 0.5fr 1.5fr;
        grid-template-columns: 1fr 1fr;
    
        max-width: 600px;
        width: 600px;
        max-height: 450px;
    
        border-radius: 15px;
        background-color: white;
        overflow: hidden;
    }

    main picture{
        grid-column: 1 / 2;
        grid-row: 1 / 6;

        width: 100%;
    }

    main h3{
        padding: 10px 35px 0px;
    }

    main h1{
        padding: 0px 35px;
    }

    main p{
        padding: 0px 35px;
    }
}